@font-face {
  font-family: "HarmonyOSHans";
  src: url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Light.woff2") format("woff2"),
    url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Light.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOSHans";
  src: url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Regular.woff2") format("woff2"),
  url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Regular.woff") format("woff");
}
@font-face {
  font-family: "HarmonyOSHans";
  src: url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Medium.woff2") format("woff2"),
    url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Medium.woff") format("woff");
}
@font-face {
    font-family: "HarmonyOSHans";
      src: url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Bold.woff2") format("woff2"),
    url("https://developer.harmonyos.com/assets/fonts/HarmonyOSHans-Bold.woff") format("woff");
}

body {
    font-family: 'HarmonyOSHans';
}

.font-size-1{
    font-size: 1em !important;
}