.fs-1 {font-size: 1vw;}
.fs-2 {font-size: 2vw;}
.fs-3 {font-size: 3vw;}
.fs-4 {font-size: 4vw;}
.fs-5 {font-size: 5vw;}
.fs-6 {font-size: 6vw;}
.fs-7 {font-size: 7vw;}
.fs-8 {font-size: 8vw;}
.fs-9 {font-size: 9vw;}
.fs-10 {font-size: 10vw;}
.fs-11 {font-size: 11vw;}
.fs-12 {font-size: 12vw;}
.fs-13 {font-size: 13vw;}
.fs-14 {font-size: 14vw;}
.fs-15 {font-size: 15vw;}
.fs-16 {font-size: 16vw;}
.fs-17 {font-size: 17vw;}
.fs-18 {font-size: 18vw;}
.fs-19 {font-size: 19vw;}
.fs-20 {font-size: 20vw;}
.fs-21 {font-size: 21vw;}
.fs-22 {font-size: 22vw;}
.fs-23 {font-size: 23vw;}
.fs-24 {font-size: 24vw;}
.fs-25 {font-size: 25vw;}
.fs-26 {font-size: 26vw;}
.fs-27 {font-size: 27vw;}
.fs-28 {font-size: 28vw;}
.fs-29 {font-size: 29vw;}
.fs-30 {font-size: 30vw;}
.fs-31 {font-size: 31vw;}
.fs-32 {font-size: 32vw;}
.fs-33 {font-size: 33vw;}
.fs-34 {font-size: 34vw;}
.fs-35 {font-size: 35vw;}
.fs-36 {font-size: 36vw;}
.fs-37 {font-size: 37vw;}
.fs-38 {font-size: 38vw;}
.fs-39 {font-size: 39vw;}
.fs-40 {font-size: 40vw;}
.fs-41 {font-size: 41vw;}
.fs-42 {font-size: 42vw;}
.fs-43 {font-size: 43vw;}
.fs-44 {font-size: 44vw;}
.fs-45 {font-size: 45vw;}
.fs-46 {font-size: 46vw;}
.fs-47 {font-size: 47vw;}
.fs-48 {font-size: 48vw;}
.fs-49 {font-size: 49vw;}
.fs-50 {font-size: 50vw;}
.fs-51 {font-size: 51vw;}
.fs-52 {font-size: 52vw;}
.fs-53 {font-size: 53vw;}
.fs-54 {font-size: 54vw;}
.fs-55 {font-size: 55vw;}
.fs-56 {font-size: 56vw;}
.fs-57 {font-size: 57vw;}
.fs-58 {font-size: 58vw;}
.fs-59 {font-size: 59vw;}
.fs-60 {font-size: 60vw;}
.fs-61 {font-size: 61vw;}
.fs-62 {font-size: 62vw;}
.fs-63 {font-size: 63vw;}
.fs-64 {font-size: 64vw;}
.fs-65 {font-size: 65vw;}
.fs-66 {font-size: 66vw;}
.fs-67 {font-size: 67vw;}
.fs-68 {font-size: 68vw;}
.fs-69 {font-size: 69vw;}
.fs-70 {font-size: 70vw;}
.fs-71 {font-size: 71vw;}
.fs-72 {font-size: 72vw;}
.fs-73 {font-size: 73vw;}
.fs-74 {font-size: 74vw;}
.fs-75 {font-size: 75vw;}
.fs-76 {font-size: 76vw;}
.fs-77 {font-size: 77vw;}
.fs-78 {font-size: 78vw;}
.fs-79 {font-size: 79vw;}
.fs-80 {font-size: 80vw;}
.fs-81 {font-size: 81vw;}
.fs-82 {font-size: 82vw;}
.fs-83 {font-size: 83vw;}
.fs-84 {font-size: 84vw;}
.fs-85 {font-size: 85vw;}
.fs-86 {font-size: 86vw;}
.fs-87 {font-size: 87vw;}
.fs-88 {font-size: 88vw;}
.fs-89 {font-size: 89vw;}
.fs-90 {font-size: 90vw;}
.fs-91 {font-size: 91vw;}
.fs-92 {font-size: 92vw;}
.fs-93 {font-size: 93vw;}
.fs-94 {font-size: 94vw;}
.fs-95 {font-size: 95vw;}
.fs-96 {font-size: 96vw;}
.fs-97 {font-size: 97vw;}
.fs-98 {font-size: 98vw;}
.fs-99 {font-size: 99vw;}
.fs-100 {font-size: 100vw;}