<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    <meta name="author" content="{{author}}" />
    <!-- 社会化分享信息 -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{cover}}" />
    <meta property="og:site_name" content="{{title}}" />

    <!-- 微博专用 -->
    <meta name="weibo:card" content="summary" />
    <meta name="weibo:site" content="@微博官方账号" />
    <meta name="weibo:creator" content="@您的微博账号" />
    <meta name="weibo:image" content="分享图片的URL" />
    <meta name="weibo:title" content="{{title}}" />
    <meta name="weibo:description" content="{{description}}" />
    <!-- 添加其他所需的meta标签和样式表链接等 -->
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <script src="/js/layout.js"></script>
    <!-- 引入Lottie库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.2/lottie.min.js"></script>
    <!-- 引入fullPage库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>