<!-- 表单组件 -->

<!-- 样式 -->
<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        position: relative;
        z-index: 100;
    }

    form .form-group {
        display: flex;
        flex-direction: column;
    }

    form .form-group input,
    form .form-group button {
        line-height: 100%;
        padding: 0.8em;
        border-radius: 15px;
        border: none;
    }

    form .form-group button {
        margin-top: 2em;
        background-color: #ffffff;
        color: #8437b7;
    }

    form .form-group label {
        padding: 0.8em 0;
        display: flex;
        align-items: center;
        height: 32px;
    }

    form .form-group .error-message span P {
        background-color: black;
        color: aliceblue;

        padding: 10px 15px;
        border-radius: 20px;
        line-height: 100%;
        margin: 0;
        position: relative;
        z-index: 2;
    }

    form .form-group .error-message span {
        position: relative;
        display: flex;
        align-items: center;
    }

    form .form-group .error-message span::after {
        content: '◆';
        color: black;
        font-size: 20px;
        position: absolute;
        left: -8px;
        z-index: 1;
        line-height: 100%;
    }
</style>
<!-- 页面结构 -->
<form class="contactForm" id="contactForm" action="." method="post" novalidate>
    <div class="form-group">
        <label for="name" class="fs-4 fw-medium">
            姓名：
            <div class="error-message name-error fs-4" id="name-error"></div>
        </label>
        <input class="name fs-4" type="text" id="name" name="name" required placeholder="请输入您的姓名" />
    </div>

    <div class="form-group">
        <label for="phone" class="fs-4 fw-medium">
            手机号码：
            <div class="error-message phone-error fs-4" id="phone-error"></div>
        </label>
        <input class="phone fs-4" type="tel" id="phone" name="phone" required pattern="^[1][3-9][0-9]{9}$"
            placeholder="请输入您的手机号码" />
    </div>

    <div class="form-group">
        <label for="company" class="fs-4 fw-medium">
            企业名称：
            <div class="error-message company-error fs-4" id="company-error"></div>
        </label>
        <input class="company fs-4" type="text" id="company" name="company" required minlength="2" placeholder="请输入您的企业名称" />
    </div>

    <div class="form-group">
        <label for="number" class="fs-4 fw-medium">
            随行人数：
            <div class="error-message number-error fs-4" id="number-error"></div>
        </label>
        <input class="number fs-4" type="number" id="number" name="number" placeholder="请输入随行人数" max="100" />
    </div>

    <div class="form-group">
        <button type="submit" class="fs-4 fw-medium">提交</button>
    </div>
</form>
<script src="/js/components/form-components.js" ></script>