<style>
    .long {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      .long img {
            width: 121.333333333333333vw;
            height: 170.164917541229385vh;
            position: relative;
            top: 44.83vh;
            flex-shrink: 0;
      }
</style>
<div class="long">
    <img class="circularMove anim-loop anim-30s anim-linear" src="https://h5show-7g2u8xv1394f69bb-1300172532.tcloudbaseapp.com/public/img/long.webp" loading="lazy" alt="">
</div>